# Nestjs specific
/apps/backend/dist
/apps/backend/node_modules
/apps/backend/build
/apps/backend/tmp

/apps/frontend/dist
/apps/frontend/node_modules
/apps/frontend/build
/apps/frontend/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
node_modules
